<footer class="footer-links">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
          <h5><strong>Contact Us</strong></h5>
          <p><a href="cdn-cgi/l/email-protection#6f1e1a0a1d162f03060d0a1d1b160d0000041c410c0002"><i
                class="fa fa-envelope"></i><span class="__cf_email__"
                data-cfemail="2f5e5a4a5d566f43464d4a5d5b564d4040445c014c4042">[email&#160;protected]</span></a></p>
          <p><a href="tel:03111444282"><i class="fa fa-phone"></i>03111444282</a></p>
          <h5><strong>About Us</strong></h5>
          <p>Established in 1952, liberty has expanded its scope of activity by not just broadening its bookseller base
            but also gaining sole distributorship for some of the best-known books and series in the world.</p>
          <h5><strong style="color: #fff !important;">Your Complete Bookstore!</strong></h5>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
          <h5><strong>Information</strong></h5>
          <ul class="list-unstyled">
            <li><a href="how-to-avail-bank-discounts.html">How to avail bank discounts</a></li>
            <li><a href="covid19deliveryandsafety">Covid-19:Delivery &amp; Safety</a></li>
            <li><a href="privacy-policy">Privacy Policy</a></li>
            <li><a href="returnsandexchangepolicy">Returns and Exchange Policy</a></li>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="our-bookstores">Our Bookstores</a></li>
            <li><a href="shippinganddelivery">Shipping &amp; Delivery</a></li>
            <li><a href="bulk-order-queries">Bulk order queries</a></li>
            <li><a href="terms-and-conditions">Terms &amp; Conditions</a></li>
            <li><a href="index503e.php?route=information/careers">Careers</a></li>


          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
          <h5><strong>New Features</strong></h5>
          <ul class="list-unstyled">
            <li><a href="index4dd2.php?route=account/voucher">Send E-Gift Card</a></li>
            <li><a href="indexf44f.php?route=common/home/track&amp;type=order">Track Your Order</a></li>
            <li><a href="indexf912.php?route=common/home/track&amp;type=book">Track Requested Book</a></li>
            <li><a href="books/express-karachi-delivery-books">Karachi Express Delivery</a></li>
            <li><a href="earn-redeem-loyalty-points">Earn & Redeem | Loyalty Points</a></li>
          </ul>
          <h5><strong>Customer Support</strong></h5>
          <ul class="list-unstyled">


            <li><a href="index71ba.php?route=account/return/add">Returns</a></li>
            <li><a href="index2724.php?route=information/contact">Contact Us</a></li>
            <li><a href="index7cb2.php?route=information/sitemap">Site Map</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
          <h5><strong>Categories</strong></h5>
          <ul class="list-unstyled footer-follow-us">
            <li><a href="fiction">Fiction</a></li>
            <li><a href="non-fiction">Non Fiction</a></li>
            <li><a href="children-books">Children's Books</a></li>
            <li><a href="urdu-books">Urdu Books</a></li>
            <li><a href="online-book-bazar">Online Book Bazar</a></li>
            <li><a href="new-arrivals-2022">New Arrivals 2022</a></li>
          </ul>
        </div>
      </div>
      <!-- <div class="row footer-card-row text-center">
        <div class="col-lg-3 col-sm-3">
          <img width="200" style="width: 150px;" src="/static/image/catalog/OvexTech/Images-01-1.png" />
        </div>
        <div class="col-lg-3 col-sm-3">
          <img width="200" style="width: 150px;" src="/static/image/catalog/OvexTech/Images-02-1.png" />
        </div>
        <div class="col-lg-3 col-sm-3">
          <img width="200" style="width: 150px;" src="/static/image/catalog/OvexTech/Images-03-1.png" />
        </div>
        <div class="col-lg-3 col-sm-3">
          <img width="200" style="width: 150px;" src="/static/image/catalog/OvexTech/Images-04-1.png" />
        </div>
      </div> -->
      <div class="row text-center social_icons hidden-xs">
        <div class="col-lg-4 col-lg-offset-4">
          <a href="https://www.facebook.com/libertybooks/" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/libertybooks/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://twitter.com/LibertyBooks_" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.youtube.com/channel/UCxHuHsUooyq4L_zMIEE2HZA" target="_blank"><i
              class="fa fa-youtube-play"></i></a>
          <a href="https://www.linkedin.com/company/libertybooks" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-lg-4 text-right">
          <p class="text-right copyright_text">Copyright © 2020, Webtrica Books, All Rights Reserved.</p>
        </div>
      </div>
      <div class="row text-center social_icons visible-xs">
        <div class="col-lg-12">
          <a href="https://www.facebook.com/libertybooks/" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/libertybooks/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://twitter.com/LibertyBooks_" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.youtube.com/channel/UCxHuHsUooyq4L_zMIEE2HZA" target="_blank"><i
              class="fa fa-youtube-play"></i></a>
          <a href="https://www.linkedin.com/company/libertybooks" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="row text-center social_icons visible-xs">
        <div class="col-lg-12 text-center">
          <p class="text-right copyright_text">Copyright © 2020, Webtrica Books, All Rights Reserved.</p>
        </div>
      </div>

    </div>
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript">
      // checks if the facebook code in header is successfully added
      // and if not, will try to add in the pixel code to the footer
      if (typeof window.isFacebookPixelInHeaderAdded === 'undefined') {
        function facebook_loadScript(url, callback) {
          var script = document.createElement("script");
          script.type = "text/javascript";
          if (script.readyState) {  // only required for IE <9
            script.onreadystatechange = function () {
              if (script.readyState === "loaded" || script.readyState === "complete") {
                script.onreadystatechange = null;
                if (callback) {
                  callback();
                }
              }
            };
          } else {  //Others
            if (callback) {
              script.onload = callback;
            }
          }

          script.src = url;
          document.getElementsByTagName("head")[0].appendChild(script);
        }
      }
    </script>
    <script type="text/javascript">
      // checks if the facebook code in header is successfully added
      // and if not, will try to add in the pixel code to the footer
      if (typeof window.isFacebookPixelInHeaderAdded === 'undefined') {
        (function () {
          var enableCookieBar = 'false';
          if (enableCookieBar === 'true') {
            facebook_loadScript("/static/catalog/view/javascript/facebook/cookieconsent.min.js");

            // loading the css file
            var css = document.createElement("link");
            css.setAttribute("rel", "stylesheet");
            css.setAttribute("type", "text/css");
            css.setAttribute(
              "href",
              "/static/catalog/view/theme/css/facebook/cookieconsent.min.css");
            document.getElementsByTagName("head")[0].appendChild(css);

            window.addEventListener("load", function () {
              function setConsent() {
                fbq(
                  'consent',
                  this.hasConsented() ? 'grant' : 'revoke'
                );
              }
              window.cookieconsent.initialise({
                palette: {
                  popup: {
                    background: '#237afc'
                  },
                  button: {
                    background: '#fff',
                    text: '#237afc'
                  }
                },
                cookie: {
                  name: fbq.consentCookieName
                },
                type: 'opt-out',
                showLink: false,
                content: {
                  allow: "Agree",
                  deny: "Opt Out",
                  header: "Our Site Uses Cookies",
                  message: "By clicking Agree, you agree to our <a class=\"cc-link\" href=\"https:\/\/www.facebook.com\/legal\/terms\/update\" target=\"_blank\">terms of service<\/a>, <a class=\"cc-link\" href=\"https:\/\/www.facebook.com\/policies\/\" target=\"_blank\">privacy policy<\/a> and <a class=\"cc-link\" href=\"https:\/\/www.facebook.com\/policies\/cookies\/\" target=\"_blank\">cookies policy<\/a>."
                },
                layout: 'basic-header',
                location: true,
                revokable: true,
                onInitialise: setConsent,
                onStatusChange: setConsent,
                onRevokeChoice: setConsent
              }, function (popup) {
                // If this isn't open, we know that we can use cookies.
                if (!popup.getStatus() && !popup.options.enabled) {
                  popup.setStatus(cookieconsent.status.dismiss);
                }
              });
            });
          }
        })();
      }
    </script>
    <script type="text/javascript">
      // checks if the facebook code in header is successfully added
      // and if not, will try to add in the pixel code to the footer
      if (typeof window.isFacebookPixelInHeaderAdded === 'undefined') {
        (function () {
          !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
              n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
          }(window,
            document, 'script', '../connect.facebook.net/en_US/fbevents.js');

          var enableCookieBar = 'false';
          if (enableCookieBar === 'true') {
            fbq.consentCookieName = 'fb_cookieconsent_status';

            (function () {
              function getCookie(t) { var i = ("; " + document.cookie).split("; " + t + "="); if (2 == i.length) return i.pop().split(";").shift() }
              var consentValue = getCookie(fbq.consentCookieName);
              fbq('consent', consentValue === 'dismiss' ? 'grant' : 'revoke');
            })();
          }

          // system auto generated facebook_pixel.js, DO NOT MODIFY
          pixel_script_filename = 'catalog/view/javascript/facebook/facebook_pixel_3_0_1.js';
          // system auto generated facebook_pixel.js, DO NOT MODIFY
          facebook_loadScript(
            pixel_script_filename,
            function () {
              var params = {
                "agent": "exopencart-2.3.0.2-3.0.0"
              };
              _facebookAdsExtension.facebookPixel.init(
                '174397642946940',
                {},
                params);
            });
        })();
      }
      window.isFacebookPixelAdded = 1;
    </script>
  </footer>