
<div class="header-container">
    <header>
      <div class="container">
        <div class="row">
          <div class="header-main">
            <div class="header-logo col-lg-2 col-sm-12 hidden-xs">
              <div id="logo">
                <a href="index.html"><img src="/static/image/cache/catalog/Ecom/Abdul%20Samad/logo/logo-250x677942.png"
                    title="Webtrica Books" alt="Webtrica Books" class="img-responsive" /></a>
              </div>
            </div>
            <div class="col-lg-7 col-sm-9 col-xs-12">
              <div id="search" class="input-group">
                <div id="searchbox">
                  <input type="text" name="search" value="" placeholder="Search by Title, Author, Publisher or ISBN"
                    class="form-control input-lg" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-lg"><img height="18"
                        src="/static/image/icons/search.png"></button>
                  </span>
                  <div class="search_btn"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="head-right-bottom">
                <!-- <div class="header-cart hidden-xs">
                  <div class="cart btn-group btn-block">
                    <button type="button" data-toggle="dropdown" data-loading-text="Loading..."
                      class="btn btn-inverse btn-block btn-lg dropdown-toggle">
                      <img class="hidden-xs" height="23" src="/static/image/cart-smallB.png">
                      <img class="visible-xs" src="/static/image/icons/cart-small-mobile-white6654.png?v1"
                        style="width:27px; margin-top:7px;">
                      <span class="cart-total-mobile visible-xs">(0)</span>
                      <span class="hidden-xs cart-total">(0) items</span>
                    </button>
                    <ul class="dropdown-menu pull-right cart-menu">
                      <li>
                        <p class="text-center">Your shopping cart is empty!</p>
                      </li>
                    </ul>
                  </div>
                </div> -->
                <div class="dropdown hidden-xs  myaccountt">
                  <a href="login.html" title="Hello, Sign In" class=""><img class="user_small"
                      src="/static/image/user-smallB.png">
                    <span class="hidden-xs hidden-sm hidden-md">Hello, Sign In</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right myaccount-menu">

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">

        window.isFacebookCustomerChatInHeaderAdded = 1;
        window.isFacebookCustomerChatAdded = 1;
      </script>
    </header>

  </div>